*.swp
*~
*update.lock
log/*.log
nohup.*
nohup
config/config.yml
config/user.yml

spec/fixtures/operated_files/*.ini_backup
spec/fixtures/operated_files/clients.ini
spec/fixtures/operated_files/schedules.ini
