<div class="page-header">
  <h1>New Client</h1>
</div>
<div class="form">
  <form class="form-horizontal" method="post" action="/create">

    <div class="control-group">
      <label class="control-label">Section Title</label>
      <div class="controls">
        <input type="text" class="input-xlarge" name=section_title>
        <p class="help-block">Should be unique, or you will cover the section with the same title</p>
      </div>
    </div>

    <% CLIENT_KEYS.each do |k, v| %>
      <div class="control-group">
        <label class="control-label"><%= CLIENT_KEYS[k] %></label>
        <div class="controls">
          <input type="text" class="input-xlarge" name=section[<%= k%>]>
        </div>
      </div>
    <% end %>

    <div class="form-actions">
      <button class="btn btn-primary" type="submit">Create</button>
      <a class="btn" href="/sections">Back</a>
    </div>

  </form>
<div>
